body {
   margin: 0;
   font-family: Arial, sans-serif;
}

.header {
   background-color: #327cff;
   color: white;
   padding: 30px;
   text-align: center;
   font-size: 30px;
}
.nav {
   height: 100vh;              
   width: 200px;               
   position: fixed;            
   top: 0;
   left: 0;
   background-color: #444;
   padding-top: 60px;          
}

nav a {
   display: block;
   color: white;
   padding: 10px 15px;
   text-decoration: none;
}

nav a:hover {
   background-color: #575757;
} 
  
main {
   margin-left: 200px;         
   padding: 20px;
}

a:link {
   color: MediumSeaGreen;
   background-color: #444;
   text-decoration: none;
}

a:visited {
   color: #008080;
   background-color: transparent;
   text-decoration: none;
}
a:hover {
   color: #99ffcc;
   background-color: transparent;
   text-decoration: underline;
}

a:active {
   color: yellow;
   background-color: transparent;
   text-decoration: underline;
}

.button {
   padding: 20px 30px;
   background-color: #f2f2f2;
   color: white;
   border: none;
   border-radius: 5px;
   text-decoration: none;
   font-size: 20px;
   cursor: pointer;
}

.button:hover {
   background-color: #45a049;
}